
@font-face {
    font-family: RagazzoFont;
    src: url(fonts/zGrotaRounded.otf);
}

@font-face {
    font-family: Nunito;
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf);
}


body {
    background-color: antiquewhite;
    width: 100%;
}

header {
    background-color: #005150;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   /* visibility: hidden; */
}



.header-content {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px, 0px;
   /* visibility: visible; */
}

.ragazzo-titulo {
    width: 80%;
    max-width: 150px;
}

.ragazzo-header-menu
{
    width: 10%;
    max-width: 30px;
}

#content-menu-titulo {
    padding-left: 10px;
}

#content-icons {
    justify-content: center;
    margin-bottom: 5px;
    gap: 20px;
    width: 40%;
   
}

@media screen and (min-width: 650px) {
   
    #content-icons {
        gap: 30px;
    }

    .ragazzo-header-menu {
        margin-left: 40px;
    }
}

@media screen and (min-width: 1000px) {
    .ragazzo-titulo {
        max-width: 200px;
    }
}

/**/




.ragazzo-slide-carrossel {
   width: 100%;
   
}

.ragazzo-slide-carrossel img{

   width: 100%;
}

/**/


aside {
   width: 100%;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    gap: 0px;
    
}

aside li {
    font-size: 13px;
    display: flex;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 5px;
    padding: 15px;
    font-family: RagazzoFont;
    cursor: pointer;
}

aside li:hover {
    background-color: rgb(236, 207, 169);
}

.verde {
   color: #005150;
}

.verde:hover {
    background-color: #005150;
    color:  rgb(236, 207, 169);
}

.vermelho {
    color: #B10242;
}

.vermelho:hover{
    background-color:  #B10242;
    color: rgb(236, 207, 169);
}

.amarelo {
    color: #e2a900;
}

.amarelo:hover {
    background-color:  #e2a900;;
    color:  rgb(236, 207, 169);
}

@media screen and (min-width: 1023px) {
    aside {
        justify-content: center;
        
    }

    aside li {
        font-size: 17px;
    }
}

/**/

main {
    margin-top: 30px;
    width: 98.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.produto {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transform: skewY(-1.5deg);
    background-color: rgb(243, 228, 210);
    margin-left: 10px;
    margin-bottom: 40px;
}

.produto-imagem {
   width: 100%;
   height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.produto-imagem img {
   width: 100%;
   height: 100%;
}

.produto-imagem-texto {
    width: 100%;
    
    position: absolute;
    top: 0%;
    left: -3%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    font-size: 17px;
    padding-bottom: 100px;
    color: #013f3e;
    font-weight: 500;
    z-index: 1;
}

.produto-imagem-texto h3 {
    border-top: #B10242 2px solid;
}

.preco {
    width: 102px;
    display: flex;
    justify-content: flex-start;
    color: #B10242;
    font-weight: 700;
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.produto-verificar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    background-color: #005150;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   
}

.produto-verificar button {
    padding: 8px;
    margin-left: 5px;
    font-size: 11px;
    border-radius: 20px;
    border: none;
    background-color: #f5c63a;
    color: #B10242;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    z-index: 2;
}

.produto-verificar button:hover {
    background-color: #d1aa33;
}

.produto-verificar-preco {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: rgb(228, 225, 225);
}

.produto-verificar-preco h1 {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
}

.produto-verificar-preco h2 {
    font-size: 13px;
    font-weight: 600;
}

.produto-text1024 {
    width:73%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 1%;
}

.produto-text1024  h2{
    margin-left: 5px;
    color:  #005150;
    font-weight: 600;
    font-family: Nunito;
    font-size: 16px;
    
}

.produto-text1024 h1 {
    margin-left: 5px;
    font-size: 30px;
    color: #ce064f;
    font-family: Nunito;
    font-weight: 700;
}

.produto-text1024-preco {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.produto-text1024-preco h3 {
    font-size: 22px;
    font-family: Nunito;
    color: #ce064f;
    font-weight: 700;
}

.heart-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}

.heart-icon img{
    margin-right: 10px;
    margin-bottom: 5px;
    width: 10%;
    z-index: 3;
}

.produto-modal {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #005150d5;
    z-index: 2;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: none;
}

.produto-modal button {
    padding: 17px;
    border-radius: 13px;
    width: 70%;
    border: none;
    background-color: #f5be1b;
    color: #ce064f;
    font-size: 15px;
    font-weight: 700;
}

.produto-modal button:hover {
    background-color: #b10242;
    color:  #f5be1b;
    cursor: pointer;
}

.produto-modal-text1 {
    width: 75%;
    font-size: 16px;
    color: white;
}

.produto-modal-preco {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.produto-modal-preco  h3 {
    font-size: 20px;
}

.produto-modal-preco  h2 {
    font-size: 25px;
    font-weight: 700;
}

.produto-modal-preco h1 {
    font-size: 40px;
}

@media screen and (min-width: 550px) {
    main {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .produto {
        width: 48%;
    }

    .produto-verificar button {
        font-size: 9px;
    }

    .produto-verificar-preco h1 {
        font-size: 16px;
        
    }
    
    .produto-verificar-preco h2 {
        font-size: 10px;
       
    }
}   

@media screen and (min-width: 1023px) {
    .produto {
        width: 32%;
    }

    .produto:hover {
        .produto-modal {
            display: flex;
        }
    }

    .produto-verificar {
        display: none;
    }

    .produto-imagem-texto {
        display: none;
    }

    .produto-imagem img {
        margin-top: 40px;
    }

    main {
        margin-top: 7px;
    }
    
    
}

@media screen and (min-height: 800px) {
    .produto-verificar button {
        font-size: 10px;
    }

    .produto-verificar h1 {
        font-size: 23px;
    }

    .produto-verificar h2 {
        
    }
}


/**/


footer {
    width: 100%;
    background-color: #005150;
    padding-top: 30px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    font-family: RagazzoFont;
    
}

footer input {
    width: 50%;
    transform: skewY(deg);
    padding: 13px;
    border-top-left-radius: 8px;  
    border-bottom-left-radius: 8px;
    background-color: #fdcd3c;  
    border: none;
}

.footer-input {
    display: flex;
}

footer button {
    width: 40%;
    padding: 5px;
    border-radius: 12px ;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
    position: relative;
    right: 2px;
    background-color: #d3a92c;  
    color: #B10242;
    font-size: 15px;
    font-weight: 700;
}

footer button:hover {
    background-color: #b69125;  
}

.footer-content1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-content1 h3 { /*Fique por dentro*/
    color: #f5be1b;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.footer-content1 h4 {  /*Receba lançamentos e promoções*/
    margin-bottom: 20px;
    color: aliceblue;
}

.footer-content1  h2{  /*Siga o Ragazzo*/
    margin-top: 10px;
    color: #f5be1b;
    margin-bottom: 8px;
}

.footer-content1-text {
    margin-left: 10px;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icons img {
    width: 9%;
}



.footer-content2 {
    width: 100%;
    font-size: 12px;
    background-color: #012928;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #f5c63a;
    padding-bottom: 10px;
}

.footer-content2 img {
    width: 5%;
}

.footer-content2 h2 {
    margin-top: 20px;
    text-align: center;
}

.footer-content2-atendimento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.atendimento-capitais {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid white;
}

.atendimento-outros {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

