@font-face {
    font-family: RagazzoFont;
    src: url(zGrotaRounded.otf);
}

@font-face {
    font-family: Nunito;
    src: url(Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: RagazzoFontExtraBold;
    src: url(GrotaRoundedExtraBold.otf);
}

@font-face {
    font-family: RagazzoRoundedBlack;
    src: url(GrotaRoundedBlack.otf);
}


.footer_desktop {
    width: 100%;
    display: flex;
    padding-top:0px;
    padding-bottom:0px;
    
}

.footer_desktop_content1 {
    width: 100%;
    background-color: #012928;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: RagazzoFontExtraBold;
    color: #e7bb37;
    padding-top: 40px;
    padding-bottom: 40px;

}

.footer_desktop_content1 h2 {
    width: 35%;
}

.footer_desktop_atendimento {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer_desktop_atendimento_phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

#capitais {
    border-right: 1px solid white;
}

.footer_desktop_atendimento_phone h2 {
    white-space: nowrap;
    width: 100%;
    font-size: 16px;
    color: #FEC34A;
}

.footer_desktop_atendimento_phone h3 {
    font-size: 27px;
    font-weight: 600;
    color: #FEC34A;
}



.footer_desktop_content2 {
    width: 100%;
    background-color: #005150;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.footer_desktop_content2 ul {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.877);
    border-right: 0.1px solid;
    align-items: center;
    margin-right: 20px;
}

.footer_desktop_content2 ul nav {
    display: flex;
    flex-direction: column;
    font-family: RagazzoFont;
    font-size: 13px;
    gap: 18px;
}

.footer_desktop_content2 ul nav h1 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #e7bb37;
    font-weight: 700;
}

.titulo-2 {
    margin-bottom: 10px ;
}

.footer_desktop_content2_email h1 {
    color: #FEC34A;
    font-family: RagazzoFontExtraBold;
    
}

.footer_desktop_content2_email h2 {
    color: white;
    margin-bottom: 15px;
    font-family: RagazzoFont;
    font-size: 14px;
    margin-top: 5px;
}

.footer_desktop_content2_email {
    width: 30%;
    height: 290px;
}

.input_footer_destktop {
    width: 100%;
    display: flex;
    
}

.footer_desktop_content2_email input {
    width: 100%;
    transform: skewY(deg);
    padding: 17px;
    border-top-left-radius: 15px;  
    border-bottom-left-radius: 15px;
    background-color: #fdcd3c;  
    border: none;
}

.footer_desktop_content2_email button {
    width: 60%;
    padding: 5px;
    border-radius: 12px ;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 14px;
    position: relative;
    right: 2px;
    background-color: #e6ac0b;  
    color: #B10242;
    font-size: 15px;
    font-weight: 800;
    transform: skewY(-0.2deg);
    font-size: 16px;
    white-space: nowrap;
    font-family: RagazzoRoundedBlack;
}

.footer_desktop_box2 {
    margin-left: 20px;
    padding-right: 40px;
}

.footer_desktop_redesSociais {
    margin-top: 45px;
    color: #FEC34A;
    font-family: RagazzoFontExtraBold;
}

.footer_desktop_redesSociais h3 {

}

.desktop_redesSociais_icons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.desktop_redesSociais_icons img {
    width: 10%;
    
}

ul nav li:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1020px) {
    .footer_desktop {
        display: none;
    }

    .footer_desktop_content2 {
        display: none;
    }
}